.bg_custom_dark {
    background-color: #d0d2d9 !important;
}

.brand_logo {
    padding: 15px;
    background-color: #fff;
}

.headerSearch {
    border-radius: 25px;
    height: 30px;
    min-width: 200px;
}

#regionSelection {
    height: 30px;
    min-width: 250px;
    padding-top: 0;
    padding-bottom: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}